<h1>{{movie.title}}</h1>
<p><strong>Director:</strong> {{movie.director}}</p>
<p><strong>Stars:</strong> {{movie.stars}}</p>
<img src="{{movie.image}}" alt="{{movie.title}}">
<p>{{movie.description}}</p>