<div class="movie-details">
<h2>Movie: {{movie.title}}</h2>

<p>Description: {{movie.description}}</p>

<p>Directed by: {{movie.director}}</p>
<p>Starring: {{movie.stars}}</p>
<p>Showtimes: {{movie.showtimes}}</p>
<img src="{{movie.image}}" alt="{{movie.title}}" />
</div>